options {
    listen-on port 53 { {{ dns_listen_on }}; };
    directory "/var/named";
    allow-query { {{ dns_allow_query }}; };
    recursion {{ 'yes' if dns_recursion else 'no' }};

    forwarders {
        {% for f in dns_forwarders %}
        {{ f }};
        {% endfor %}
    };
};

zone "{{ dns_domain }}" IN {
    type master;
    file "{{ dns_domain }}.zone";
};

zone "40.168.192.in-addr.arpa" IN {
    type master;
    file "40.168.192.in-addr.arpa.zone";
};